<div class="students">
    <div class="students-title">Students</div>
    <table class="students-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Course</th>
                <th>Group</th>
                <th>Average Score</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kate</td>
                <td>Clayton</td>
                <td>2</td>
                <td>1</td>
                <td>3.2</td>
                <td><button>Details</button></td>
                <td><button>Delete</button></td>
            </tr>
            <tr class="students-table__row">
                <td>Emily</td>
                <td>Goddard</td>
                <td>1</td>
                <td>3</td>
                <td>4.5</td>
                <td><button>Details</button></td>
                <td><button>Delete</button></td>
            </tr>
            <tr>
                <td>Elliot</td>
                <td>Davison</td>
                <td>4</td>
                <td>2</td>
                <td>2.7</td>
                <td><button>Details</button></td>
                <td><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
