<div class="student-details">
    <div class="student-details__title">Student Details</div>
    <div class="student-details__row">
        <span>
            First Name:
        </span>
        <span>
            Kate
        </span>
    </div>
    <div class="student-details__row">
        <span>
            Last Name:
        </span>
        <span>
            Clayton
        </span>
    </div>
    <div class="student-details__row">
        <span>
            Course:
        </span>
        <span>
            2
        </span>
    </div>
    <div class="student-details__row">
        <span>
            Group:
        </span>
        <span>
            1
        </span>
    </div>
    <div class="student-details__row">
        <span>
            Average Score:
        </span>
        <span>
            3.2
        </span>
    </div>
</div>
